body{
    font-family: "Rubik", sans-serif;;
    padding: 0px;
    height: 100vh;
    background: linear-gradient(150deg, #3498DB, #DAF7A6);
}
.caja-inicio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D6EAF8;
    width: 400px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}
h2{
    color: #979A9A;
    margin-top: -30px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}
.correo input{
    text-align: center;
    border: solid 1px transparent;
    outline: none;
    background: transparent;
    width: 395px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #979A9A;
}
.contrasena input{
    text-align: center;
    border: solid 1px transparent;
    outline: none;
    background: transparent;
    width: 395px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #979A9A;
}
.titles{
    width: 400px;
    border-bottom: 2px solid #979A9A;
}
.recordar{
    color: blue;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 12px;
}
.iniciar{
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: transparent;
    background-color: #85C1E9;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transition: background-color 0.6s, color 0.6s;
}
.iniciar:hover{
    background-color: #3498DB;

}
.registrarse{
    font-size: 12px;
    padding: 10px;
}